:host {
	::ng-deep {
		.p-datatable {
			th input {
				border: 1px solid #999 !important;
			}

			tr:hover {
				color: #323130 !important;
			}

			.p-datatable-tbody {
				tr:hover {
					color: white !important;
				}
			}
		}

		.ligne-grise {
			background-color: lightgrey !important;
		}
	}
}
.marge{
	margin-left: 1500px;
}

